<header>
		<div class="container">
				<div class="row">
				<div class="col_green_m" style=" letter-spacing: 4px;font-size: 1.6em; font-weight:bold;color:green;padding:0;margin:0;"><i class="fa fa-envira"></i>&nbsp;<a href="/" style="color:green; letter-spacing: 5px; font-weight:bold;" title="SRC">SRC</a></div>
				<div style="border-top: 1px solid #ccc; float:left;line-height:1em;padding-top:0px; padding-left:2px;padding-right:4px;margin-top:-11px;"><a href="/" title="SPC" style="color:#ccc;font-weight: bold; font-size: 0.8em; letter-spacing: -1px;">SmartReceptacleControl</a></div>
				</div>
		</div>
</header>
